/* @import url('https://fonts.googleapis.com/css2?family=Playball&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;1,200;1,500&family=Roboto+Condensed:wght@300;400;700&display=swap');
body {
    font-family: 'Poppins', sans-serif;
  
  }
  img{
    height: 600px;
  }
  h1{
    color: #21218F;
    margin-top: 50px;
  }
  span.library{
size: 128px;
} */